body{
        background-size: cover;
}
.heading{
    font-size:px;
width: 100%;
margin: 0px;
}
h3{
    width: 100%;
    font-size: 25px;
}
button{
    margin-left: 450px;
    margin-top: 10px;
    width: 30%;
}

